@page "/konto/hantera/inaktivera-2fa"

@using GylleneDroppen.Core.Entities
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>Inaktivera tvåfaktorsautentisering (2FA)</PageTitle>

<StatusMessage/>
<h3>Inaktivera tvåfaktorsautentisering (2FA)</h3>

<div role="alert">
    <p>
        <strong>Den här åtgärden inaktiverar endast 2FA.</strong>
    </p>
    <p>
        Att inaktivera 2FA ändrar inte nycklarna som används i autentiseringsappar. Om du vill byta nyckel
        som används i en autentiseringsapp bör du <a href="/konto/hantera/aterstall-autentiserare">återställa dina
            autentiseringsnycklar.</a>
    </p>
</div>

<div>
    <form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken/>
        <button type="submit">Inaktivera 2FA</button>
    </form>
</div>

@code {
    private ApplicationUser user = default!;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException("Kan inte inaktivera 2FA eftersom det inte är aktiverat.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var disable2faResult = await UserManager.SetTwoFactorEnabledAsync(user, false);
        if (!disable2faResult.Succeeded)
        {
            throw new InvalidOperationException("Ett oväntat fel inträffade vid inaktivering av 2FA.");
        }

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("Användare med ID '{UserId}' har inaktiverat 2FA.", userId);
        RedirectManager.RedirectToWithStatus(
            "/konto/hantera/tvafaktorsautentisering",
            "2FA har inaktiverats. Du kan aktivera 2FA igen när du ställer in en autentiseringsapp.",
            HttpContext);
    }

}
