@page "/konto/hantera/personuppgifter"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personuppgifter</PageTitle>

<StatusMessage/>
<h3>Personuppgifter</h3>

<div>
    <p>Ditt konto innehåller personuppgifter som du har lämnat till oss. På denna sida kan du ladda ner eller radera dessa uppgifter.</p>
    <p>
        <strong>Att radera dessa uppgifter kommer att permanent ta bort ditt konto, och detta kan inte återställas.</strong>
    </p>
    <form action="/konto/hantera/ladda-ner-personuppgifter" method="post">
        <AntiforgeryToken/>
        <button type="submit">Ladda ner</button>
    </form>
    <p>
        <a href="/konto/hantera/radera-personuppgifter">Radera</a>
    </p>
</div>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
