@page "/fel"
@using System.Diagnostics

<PageTitle>Fel</PageTitle>

<h1>Fel.</h1>
<h2>Ett fel inträffade när din begäran behandlades.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Begärans-ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Utvecklingsläge</h3>
<p>
    Om du byter till <strong>Utvecklingsläge</strong> visas mer detaljerad information om felet som inträffade.
</p>
<p>
    <strong>Utvecklingsläget bör inte vara aktiverat i distribuerade applikationer.</strong>
    Det kan leda till att känslig information från undantag visas för slutanvändare.
    För lokal felsökning, aktivera <strong>Utvecklingsläge</strong> genom att sätta miljövariabeln <strong>ASPNETCORE_ENVIRONMENT</strong> till <strong>Development</strong>
    och starta om applikationen.
</p>

@code{
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}