@page "/konto/bekraftelse-glomt-losenord"

<PageTitle>Bekräftelse - glömt lösenord</PageTitle>

<h1>Bekräftelse - glömt lösenord</h1>
<p role="alert">
    Kontrollera din e-post för att återställa ditt lösenord.
</p>