@page "/konto/ogiltig-aterstallning"

<PageTitle>Ogiltig återställning av lösenord</PageTitle>

<h1>Ogiltig återställning av lösenord</h1>
<p role="alert">
    Länken för att återställa lösenordet är ogiltig.
</p>