@page "/konto/registreringsbekraftelse"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using GylleneDroppen.Core.Entities

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Bekräfta registrering</PageTitle>

<h1>Bekräfta registrering</h1>

<StatusMessage Message="@statusMessage"/>

<p role="alert">
    Ett e-postmeddelande har skickats till <strong>@Email</strong> med en länk för att bekräfta ditt konto.<br/>
    Om du inte ser e-postmeddelandet inom några minuter – kontrollera även din skräppostmapp.
</p>

@code {
    private string? statusMessage;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery] private string? Email { get; set; }

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
            return;
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Fel: Kunde inte hitta användare för angiven e-postadress.";
        }
    }

}
