/* Variables */
:root {
    --color-dark-brown: #4E342E;
    --color-beige: #F5F5DC;
    --color-gold: #D4AF37;
    --color-slate-blue: #617987;
    --color-soft-gray: #E0E0E0;
    --color-error: #e74c3c;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #705746, #5e4636);
    background-attachment: fixed;
    color: var(--color-dark-brown);
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Not Found Page */
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: var(--color-beige);
}

.not-found h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.not-found p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.not-found a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-gold);
    color: var(--color-dark-brown);
    text-decoration: none;
    border-radius: 9999px;
    transition: all 0.2s;
    font-weight: 600;
}

.not-found a:hover {
    background-color: #c19e33;
}

/* Loading indicator */
.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: var(--color-beige);
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: var(--color-gold);
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
    color: var(--color-beige);
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Laddar");
}

/* Blazor Error UI */
#blazor-error-ui {
    background-color: var(--color-error);
    color: white;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}