<StatusMessage Message="@StatusMessage"/>
<h3>Återställningskoder</h3>
<div role="alert">
    <p>
        <strong>Spara dessa koder på en säker plats.</strong>
    </p>
    <p>
        Om du förlorar din enhet och inte har återställningskoderna kommer du att förlora åtkomsten till ditt konto.
    </p>
</div>
<div>
    <div>
        @foreach (var recoveryCode in RecoveryCodes)
        {
            <div>
                <code>@recoveryCode</code>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public string[] RecoveryCodes { get; set; } = [];

    [Parameter] public string? StatusMessage { get; set; }
}
