@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject ILogger<AuthenticatedLayout> Logger

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <header>
                <NavMenu/>
            </header>

            <main>
                @Body
            </main>

            <div id="blazor-error-ui">
                An error has occurred.
                <a href="">Reload</a>
                <button type="button">X</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <RedirectToLogin ReturnUrl="@Navigation.Uri"/>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>