@layout PublicLayout

<div class="text-center">
    <p class="quote-text">
        <em>"Whisky är inte snällt, det är ärligt."</em>
    </p>
    
    <div class="button-group">
        <a href="/konto/logga-in" class="btn btn-primary">Logga in</a>
        <a href="/konto/registrera" class="btn btn-secondary">Registrera dig</a>
    </div>
    
    <hr class="golden-card-divider" />
    
    <p class="description-text">
        Välkommen till Gyllene Droppen - din portal för exklusiva whiskyprovningar.<br>
        Bli medlem för att få tillgång till våra evenemang och upptäck nya smaker tillsammans med likasinnade.
    </p>
</div>