@inherits LayoutComponentBase

<header>
    <NavMenu/>
</header>

<main>
    @Body
</main>

<div id="blazor-error-ui" style="display: none;">
    An error has occurred.
    <a href="">Reload</a>
    <button type="button" class="dismiss">X</button>
</div>