@inherits LayoutComponentBase

<div class="main-layout">
    <header class="navbar-top">
        <NavMenu/>
    </header>

    <main class="main-content">
        <article class="content-wrapper">
            @Body
        </article>
    </main>
</div>