@inherits LayoutComponentBase

<div>
    <div>
        <NavMenu/>
    </div>

    <main>
        <div>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Om</a>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ett oväntat fel har inträffat.
    <a href=".">Ladda om</a>
    <span>🗙</span>
</div>