@inherits LayoutComponentBase

<div>
    <div>
        <NavMenu/>
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ett oväntat fel har inträffat.
    <a href=".">Ladda om</a>
    <span>🗙</span>
</div>