@inherits LayoutComponentBase

<div class="main-layout">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main class="main-content">
        <article class="content-wrapper">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ett oväntat fel har inträffat.
    <a href=".">Ladda om</a>
    <span>🗙</span>
</div>