<nav>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">Hem</NavLink>
        </li>
        <li>
            <NavLink href="me">Min Profil</NavLink>
        </li>
        <li>
            <NavLink href="logga-in">Logga In</NavLink>
        </li>
        <li>
            <NavLink href="registrera">Registrera</NavLink>
        </li>
    </ul>
</nav>