@using GylleneDroppen.Blazor.Client.Services
﻿@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation
@inject AuthService AuthService

<nav>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">Hem</NavLink>
        </li>

        <AuthorizeView>
            <Authorized>
                <li>
                    <NavLink href="profil">Min Profil</NavLink>
                </li>
                <li>
                    <button @onclick="HandleLogout">Logga ut</button>
                </li>
            </Authorized>
            <NotAuthorized>
                <li>
                    <NavLink href="logga-in">Logga In</NavLink>
                </li>
                <li>
                    <NavLink href="registrera">Registrera</NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>

@code {

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/");
    }

}